* {font-family: Arial, Helvetica, sans-serif;}
a{ text-decoration: none; color:white; }


header {
  background-color: #000e9c;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  align-content: center;
  z-index: 2;
  border-bottom: 2px rgb(35, 81, 125) solid;
  }
  
body {
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: auto 0;
  height: 100%;
  padding-bottom: 60px;
}

main {
  position: relative;
  padding: auto;
  margin: auto;
  padding-top: 150px;
  padding-left: 50px;
  padding-bottom: 60px;
  min-height: 100%;
  min-height: calc(100vh - 60px);
}

nav {
  width: 100%;
}

nav > ul {
  width: 100%;
  height: 100%;
}

.nav-tabs > ul > li {
  bottom: 40px;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  display: inline-block;
  color: white;
}

.logout-but {
  color: white;
}

.nav-tabs > ul > li,
.logout-but {
  transform: scale(1);
  transition: color 0.2s, transform 0.2s;
}

.nav-tabs > ul > li:hover,
.logout-but:hover, a:hover {
  cursor: pointer;
  color: rgb(64, 148, 227);
  transform: scale(0.95);
  transition: color 0.2s, transform 0.2s;
}

.nav-tabs > ul > li:active,
.logout-but:active {
  color: rgb(64, 148, 227);
  transform: scale(0.9);
  transition: color 0.2s, transform 0.2s;
}

footer {
  position: absolute;
  margin-top: 0;
  margin-bottom: -60px;
  /* height: 60px; */
  width: 100%;
  bottom: 0;
  z-index: 0;

  color: white;
  background-color: #000e9c;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-top: 2px rgb(35, 81, 125) solid;
}

footer > h4 {
  position: relative;
  left: 1%;
  bottom: 5px;
}


.main {
  display: block;
  /* margin-left: 50px; */
  margin-top: 50px;
  padding-left: 50px;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

.main > img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
}

#info{
  color: white;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color:#000e9c;
  border-radius: 10px;
  border-style: none;
  transition: color 0.2s, background-color 0.2s, transform 0.2s;

}

#info:hover {
    background-color: rgb(64, 148, 227);
    /* color: white; */
    transform: scale(0.95);
    transition: background-color 0.2s, transform 0.2s;
  }


@keyframes spin {
  from {
    transform:rotateY(0deg)
  }
  to {
    transform: rotateY(360deg);
  }
}


.ovh_logo{
  position: absolute;
  display: block;
  width: 40%; 
  left: 50%;
  top: 20%;
  animation: spin 5s linear infinite;
}



.clr {
  clear: both;
  font-size: 0;
}

#mention{
	text-align:center;
	color: white;
	background-color:#3883fc;	
}
#mention>strong{
	color: white;
}
  
