#logo{
    height: 67px;
}
#validation {
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    size: 50px;
    width: 400px;
    height: 400px;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-content: center;
}
body {
    display: flex;
    justify-content: center;
}
#validation {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
