*{
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    height: 74px;
}
#validation{
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    size: 50px;
    width: 400px;
    height: 300px;
    padding: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}
body {
    display: flex;
    justify-content: center;
}
#validation>form>div{
    display: flex;
    align-content: center;
    flex-direction: column;
}
