* {font-family: Arial, Helvetica, sans-serif;}
a{ text-decoration: none; color:white; }


header {
    background-color: #000e9c;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    align-content: center;
    z-index: 2;
    border-bottom: 2px rgb(35, 81, 125) solid;
}

nav {
    width: 100%;
}

nav > ul {
    width: 100%;
    height: 100%;
}

.nav-tabs > ul > li {
    bottom: 40px;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: inline-block;
    color: white;
}

.logout-but {
    color: white;
}

.nav-tabs > ul > li,
.logout-but {
    transform: scale(1);
    transition: color 0.2s, transform 0.2s;
}

.nav-tabs > ul > li:hover,
.logout-but:hover, a:hover {
    cursor: pointer;
    color: rgb(64, 148, 227);
    transform: scale(0.95);
    transition: color 0.2s, transform 0.2s;
}

/* #mobilite{
    left: 10%;
} */

body {
    margin: auto;
}
h1{
    padding-top: 130px;
    margin-left: 5%;
    margin-bottom: 3%;
}

.searchbar{
    display: flex;
    margin-left: 5%;
}
.searchbar>input{
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #000e9c;   
}

.searchbar>button{
    width: 80px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #000e9c;  
}

.filter{
    margin-left: 10px;
    bottom: 20px;
    /* padding-bottom: 20px; */
    /* flex-direction: row; */
    /* display: flex; */
    position: relative;
}
    
#ligneUn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
    flex-wrap: wrap;
}
#ligneDeux{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#offres{
    padding-top: 2%;
}
#offres>div>div{
    border-color: lightslategray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 500px;
    height: 175px;
    display: flex;
}
header>div{
    padding: 2em;
}
#offres div{
    padding: 2em;
}
div img{
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
}

#article{
    margin-top: 5em;
    position: relative;
    left: 7.5%;
    margin: 2%;
    height: 5%;
    width: 50%;
}
#description{
    display: flex;
    flex-direction: row;
}
#description p{
    margin-top: -15%;
}
.part {
    width: 100px;
    height: 30px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    bottom: -100%;
    left: 25%;
}


button{
    color: lightskyblue;
    background-color:#000e9c;
    border-style: none;
    transition: color 0.2s, background-color 0.2s, transform 0.2s;
}
button:hover {
    background-color: rgb(64, 148, 227);
    /* color: white; */
    transform: scale(0.95);
    transition: background-color 0.2s, transform 0.2s;
}

#mention{
	text-align:center;
	color: white;
	background-color:#3883fc;	
}
#mention>strong{
	color: white;
}

footer {
  margin-top: 0;
  margin-bottom: -60px;

  width: 100%;
  bottom: 0;
  z-index: 0;
  
  color: white;
  background-color: #000e9c;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-top: 2px rgb(35, 81, 125) solid;
  }
