header>img{
    height: 100px;
}
#ligneUn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}
#ligneDeux{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#offres{
    padding-top: 2%;
}
#offres>div>div{
    border-color: lightslategray;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    width: 500px;
    height: 175px;
    display: flex;
}
header>div{
    padding: 2em;
}
#offres div{
    padding: 2em;
}
div img{
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
}
#banner{
    background-image: url(../res/Careers_Hero.png);
    height: 200px;
    background-size:cover;
}
#banner h1{
    color: white;
    position:absolute;
    left: 15%; top: 20%;
}
#article{
    margin-top: 5em;
    position: relative;
    left: 7.5%;
    margin: 2%;
    height: 5%;
    width: 50%;
}
#description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
