* {font-family: Arial, Helvetica, sans-serif;}
a{ text-decoration: none; color:white; }

header {
  background-color: #000e9c;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  align-content: center;
  z-index: 2;
  border-bottom: 2px rgb(35, 81, 125) solid;
  }
  
body {
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: auto 0;
  height: 100%;
  padding-bottom: 60px;
}

main {
  display: flex;
  flex-direction: column;
  padding: auto;
  margin: auto;
  padding-top: 150px;
  padding-left: 50px;
  padding-bottom: 60px;
  min-height: 100%;
  min-height: calc(100vh - 60px);
}

nav {
width: 100%;
}

nav > ul {
  width: 100%;
  height: 100%;
}

.nav-tabs > ul > li {
  bottom: 40px;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  display: inline-block;
  color: white;
  text-decoration: none;
  /* top: 50px; */
}

footer {
  position: absolute;
  margin-top: 0;
  margin-bottom: -60px;
  /* height: 60px; */
  width: 100%;
  bottom: 0;
  z-index: 0;

  color: white;
  background-color: #000e9c;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-top: 2px rgb(35, 81, 125) solid;
}

footer > h4 {
  position: relative;
  left: 1%;
  bottom: 5px;
}

.logout-but {
  color: white;
  text-decoration: none;
}

.nav-tabs > ul > li,
.logout-but {
  transform: scale(1);
  transition: color 0.2s, transform 0.2s;
}

.nav-tabs > ul > li:hover,
.logout-but:hover, a:hover {
  cursor: pointer;
  color: rgb(64, 148, 227);
  transform: scale(0.95);
  transition: color 0.2s, transform 0.2s;
}


article {
  margin-top: 20px;
  float: left;
  border-radius: 10px;
  width: 70%;

}

article:not(:hover){
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 50%);
  transform: translateY(0);
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1;
}

article:hover{
  box-shadow: 0px 0px 50px rgb(0, 0, 0, 50%);
  transform: translateY(-10px);
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1;
}

article h1, p{
  padding-left: 10px;
}


#covoiturage{
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;



}

#covoiturage > h1{
  flex: 0 0;
}

#location{
  margin-top: 20px;
  margin-left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;


}

#covbut{
  width: 350px;
  height: 100px;
  background-color: white;
  
  border-color: rgb(35, 81, 125);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;

  font-size: large;

}

#locbut{
  width: 350px;
  height: 100px;
  background-color: white;
  
  border-color: rgb(35, 81, 125);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  
  font-size: large;
}


#locbut:hover, #covbut:hover{

  box-shadow: 0px 0px 50px rgb(0, 0, 0, 50%);
  transform: translateY(-10px);
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1;

}

#locbut:not(:hover), #covbut:not(:hover){

  box-shadow: 0px 0px 0px rgb(0, 0, 0, 50%);
  transform: translateY(0);
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1;

}

#locbut:active, #covbut:active{
  box-shadow: 0px 0px 50px rgb(0, 0, 0, 50%);
  transform: translateY(-5px);
  transition: box-shadow 0.1s, transform 0.1s;
  z-index: 1;
}


#dick {
  display: flex;
}

.clr {
  clear: both;
  font-size: 0;
}

#mention{
  margin: 0;
	text-align:center;
	color: white;
	background-color:#000e9c;;	
}
#mention>strong{
	color: white;
}
  
