* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #c7e5ff;
  margin: 0;
}

.bgimage {
  position: relative;
  text-align: center;
}

img {
  width: 50%;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.loginblock:not(:hover) {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);

  color: white;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  background-color: rgba(79, 140, 197, 0.9);
  transition: background-color 0.5s;
}

.loginblock:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  color: white;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(46, 105, 161);
  transition: background-color 0.5s;
}

#password {
  border: 2px rgb(35, 81, 125) solid;
  border-radius: 5px;
  background-color: white;
  position: relative;
  bottom: 5px;
}
#identifiant {
  border: 2px rgb(35, 81, 125) solid;
  border-radius: 5px;
  background-color: white;
  position: relative;
  bottom: 10px;
}

#login-but {
  width: 165px;
  height: 25px;

  border: 2px rgb(35, 81, 125) solid;
  border-radius: 5px;
  transform: scale(1);
  transition: color 0.2s, background-color 0.2s, transform 0.2s;
}

#login-but:hover {
  background-color: rgb(64, 148, 227);
  color: white;
  transform: scale(0.95);
  transition: color 0.2s, background-color 0.2s, transform 0.2s;
}

#login-but:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

#identifiant:hover,
#password:hover {
  box-shadow: 0px 0px 1px 2px white;
  transition: box-shadow 0.2s;
}
