* {font-family: Arial, Helvetica, sans-serif;}
a {text-decoration: none; color:white; }



header {
  background-color: #000e9c;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  align-content: center;
  border-bottom: 2px rgb(35, 81, 125) solid;
}

body {
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: auto 0;
  height: 100%;
  padding-bottom: 60px;
}

main {
  position: relative;
  padding: auto;
  margin: auto;
  padding-top: 150px;
  z-index: -1;
  padding-bottom: 60px;
  min-height: 100%;
  min-height: calc(100vh - 60px);
}

nav {
  width: 100%;
}

nav > ul {
  width: 100%;
  height: 100%;
}

.nav-tabs > ul > li {
  bottom: 40px;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  display: inline-block;
  color: white;
  text-decoration: none;
  /* top: 50px; */
}

footer {
  margin-top: 0;
  margin-bottom: -60px;
  height: 60px;
  width: 100%;
  bottom: 0;
  z-index: 0;

  /* Style */
  color: white;
  background-color: rgb(46, 105, 161);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-top: 2px rgb(35, 81, 125) solid;
}

footer > h4 {
  position: relative;
  left: 1%;
  bottom: 5px;
}

.logout-but {
  color: white;
  text-decoration: none;
}

.nav-tabs > ul > li,
.logout-but {
  transform: scale(1);
  transition: color 0.2s, transform 0.2s;
}

.nav-tabs > ul > li:hover, a:hover,
.logout-but:hover {
  cursor: pointer;
  color: rgb(64, 148, 227);
  transform: scale(0.95);
  transition: color 0.2s, transform 0.2s;
}

.nav-tabs > ul > li:active,
.logout-but:active {
  color: rgb(64, 148, 227);
  transform: scale(0.9);
  transition: color 0.2s, transform 0.2s;
}

.anchor {
  /* background: url("../res/ovh_anchor.webp"); */
  /* background-size: 55px; */
  background-color: rgb(46, 105, 161);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 100%;
  border-color: none;
  border-style: none;
  width: 53px;
  height: 53px;
  position: fixed;
  top: 90%;
  left: 95%;
  z-index: 2;
}

.anchor:hover {
  cursor: pointer;
}

.clr {
  clear: both;
  font-size: 0;
}
