header>img{
    height: 100px;
}
header>img{
    height: 100px;
    
}
#ligneUn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}
#ligneDeux{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div>div{
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    width: 200px;
}
div{
    padding: 2em;
}
div img{
    height: 50px;
    float: left;
}
